@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
* {
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
i {
    font-style: normal;
}
input {
    outline: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header {
    width: 100%;
    height: 30px;
    background-color: #636f7f;
}
#container {
    padding: 0 15px;
}
.controls {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}
#add_todo_list {
    float: right;
    cursor: pointer;
}
#add_todo_list>.plus_ico {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    color: #636f7f;
    border-radius: 50%;
    border: 2px solid #636f7f;
    text-align: center;
}
#add_todo_list>.plus_ico>i {
    font-size: 1.8em;
    font-weight: bold;
}
#add_todo_list>span {
    display: inline-block;
    width: 45px;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: top;
    font-size: 15px;
    color: #636f7f;
    margin-left: 5px;
    line-height: 15px;
}
.todo_list_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.todo_list {
    width: 30%;
    margin-right: 2%;
}
.todo_list:last-child {
    margin-right: 0;
}
.tl_head {
    width: 100%;
    line-height: 17px;
    background-color: #84ced0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
}
.tl_tasks {
    border: 1px solid #dde1e0;
    border-top: none;
    border-bottom: none;
    padding: 10px 10px 20px;
}
li.tl_task {
    background: #fff;
    border: 1px solid #dde1e0;
    border-radius: 4px;
    padding: 10px 10px 20px;
    margin-bottom: 10px;
}
.tl_controls {
    background: #aab3c2;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
.tl_controls>i {
    font-size: 40px;
    line-height: 35px;
    font-weight: bold;
    color: #636f7f;
}

label.custom_checkbox_label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100%;
}
input.custom_checkbox {
    display: none;
}
.custom_checkbox_label:before {
    content: '';
    border: 2px solid #dde1e0;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 15px;
}
.custom_checkbox:checked+.custom_checkbox_label:before{
    background-color: #fff;
    border-color: #b38cb4;
}
.custom_checkbox__check {
    content: '';
}
.custom_checkbox:checked+.custom_checkbox__check {
    content: '';
    display: block;
    position: absolute;
    border: solid 2px #fff;
    border-right: none;
    border-top: none;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
    height: 5px;
    left: 5px;
    top: 8px;
    transform: rotate(-45deg);
    width: 10px;
}
.custom_checkbox:checked+.custom_checkbox__check {
    border-color: #b5b5b5;
}
.custom_checkbox:checked:disabled+.custom_checkbox__check{
    border-color: #ccc;
}
.task_title {
    margin-left: 30px;
    border: none;
    font-size: 15px;
    width: 96%;
    line-height: 30px;
}